/* Atoms */
/* Fonts */
body {
    font-family: 'Open Sans', sans-serif;
}

.header-body {
    font-family: 'Exo', sans-serif;
    text-align: center;
    font-weight: bold;
}

.services2 p {
    font-size: 18px;
}

.header-red {
    color: #FF3333;
}

.services4 p {
    font-style: italic;
    font-size: 18px;
    text-align: left;
    color: rgb(0,0,0);
}

/* Containters */


/* Colors */



/* Images */
.callout-image {
    background-image: url('../images/baseball-cover.jpg');
    height: 400px;
    margin: 0px 0px;
    padding: 0 0;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Buttons */
.btn-try {
    background-color: #FF3333;
    color: #ffffff;
    width: 120px;
}

.btn-login {
    background-color: #A8A8A8;
    color: #ffffff;
    width: 80px;
}

/* Icons */
.services1 i {
    font-size: 30px;
    line-height: 30px;
    color: #FF3333;
    border: none;
}

.services2,.services4 i {
   font-size: 18px;
    line-height: 18px;
    color: #FF3333;
    border: none; 
}




/* Jumbotron */
.callout-text {
    margin-bottom: 0px;
}

.callout-text .callout-header1 {
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px; 
    font-weight: 100;
    font-family: 'Exo', sans-serif;
}

.callout-text .callout-header2 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10em;
    padding-right: 10em;
    font-weight: 100;
    font-family: 'Open Sans light', sans-serif;
    line-height: 1.5;
}



/* Headers */


/* Molecules and Organisms */
/* Navbar */
.navbar {
    background-color: #ffffff;
    margin-bottom: 0;
    width: 100%;
    border: 0;
    font-weight: 400;
}

.navbar-stick {
    display: flex;
    top: 0px;
    left: 0px; 
    position: sticky;
    z-index: 999999;
}

.navbar .navlogo {
    height: 70px;
    width: 210px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 40px;
}

.navbar-nav .mr-auto {
    flex: 1;
    margin: auto  !important;
    display: flex;
    justify-content: space-between;
}

.navbar .navbar-togger {
    border: 0;
}

.services1 {
    background-color: rgb(0,0,0);
}

.services1 .card-title {
    border-bottom: 2px solid #FF3333;
    padding-bottom: 4px;
    height: 70px;
}

.services1 .card-header {
    text-align: center;
}

.services1 .card {
    box-shadow: 10px 10px 8px #463B3B;
    border: none;
    color: #ffffff;
    background-color: rgb(0,0,0,0.70);
}

.services1 .card-deck {
    height: 100%;
}

.services1 .card-text {
    padding-top: 4px;
}

.services2 {
    background-color: #ffffff;
    color: rgb(0,0,0);
}

.services3 {
    background-color: #A8A8A8; 
}

.services3 img {
    height: 60%;
}

.services4 {
    background-color: #ffffff;
}

.customers {
    background-color: #ffffff;

}

/* Text Blocks */


.callout-text {
    background-color: rgb(0,0,0,0.90);
    color: #ffffff;
    padding: 20px 20px 20px 20px;
    align-items: center;
    text-align: center;
}

/* Blockquote */

.blockquote {
    padding: 60px 80px 40px;
    position: relative;
}
.blockquote p {
    font-family: "Utopia-italic";
    font-size: 24px;
    font-weight: 700px;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 25px;
    padding-left: 50px;
}

.blockquote:before {
  position: absolute;
  font-family: 'FontAwesome';
  top: 0;
  
  content:"\f10d";
  font-size: 200px;
  color: rgba(0,0,0,0.1);
   
}

/*.blockquote::after {
    content: "";
    top: 20px;
    left: 50%;
    margin-left: -100px;
    position: absolute;
    border-bottom: 3px solid #bf0024;
    height: 3px;
    width: 200px;
}*/

.cust-name p {
    text-align: left;
    font-size: 16px;
    color: rgb(0,0,0);
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0;
}

.cust1 p {
    margin-left: 100px;
}

.cust2 p {
    margin-left: 270px;
    margin-right: 0px;
}



/* Form */




