/* Atoms */
/* Fonts */
body {
    font-family: 'Open Sans', sans-serif;
}

.header-font (
    font-family: 'Montserrat', sans-serif;
)



/* Containters */



/* Colors */



/* Images */
.callout .callout-image {
    margin: 0px 0px;
    padding: 0 0;
    background-color: rgb(0,0,0,0.75);
}


/* Buttons */
.callout .btn-danger {
    margin: 25px;
}

/* Icons */


/* Jumbotron */
.callout-text .callout-header1 {
    margin: 45px, 10px;
    padding: 5px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.callout-text .callout-header2 {
    margin: 30px, 10px;
    padding: 5px;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
}


/* Headers */


/* Molecules and Organisms */
/* Navbar */
.navbar {
    background-color: #ffffff;
    margin-bottom: 0;
    width: 100%;
    border: 0;
    font-weight: 400;
}

.navbar-stick {
    display: flex;
    top: 0px;
    left: 0px; 
    position: sticky;
    z-index: 999999;
}

.navlogo {
    height: 80px;
    width: 240px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 40px;
}
/*
.nav-link {
    margin-left: 10px;
    margin-right: 180px;
}
*/
.navbar .btn-secondary {
    position: absolute;
    top: 30px;
    right: 20px; 
    width: 80px;
}

.navbar .btn-danger {
    position: absolute;
    top: 30px;
    right: 110px;
    width: 120px;
}

.navbar .navbar-togger {
    border: 0;
}

/* Text Blocks */


.callout-text {
    background-color: rgb(0,0,0,0.75);
    color: #ffffff;
    padding: 20px 20px 20px 20px;
    align-items: center;
    text-align: center;
}



/* Form */




