
/* Fonts & Headers */
body {
    font-family: 'Open Sans', sans-serif;
}

.header-body {
    font-family: 'Exo', sans-serif;
    text-align: center;
    font-weight: bold;
}

#services2 p {
    font-size: 18px;
}

.header-red {
    color: #FF3333;
}

#services4b p {
    font-style: italic;
    font-size: 18px;
    text-align: left;
    color: rgb(0,0,0);
}

.contact-sub {
    color: #ffffff;
}

.form-font-color {
    color: #ffffff;
}

.footer-text {
    font-size: 10px;
    color: #ffffff;
    padding-top: 20px;
}

/*Containers*/
section {
    padding-top: 100px;
}

#services1a {
    background-color: rgb(0,0,0);
    padding-bottom: 15%;
}

#services2 {
    background-color: #ffffff;
    color: rgb(0,0,0);
    padding-bottom: 15%;
   }

#services3 {
    background-color: #A8A8A8; 
}

#services4a {
    background-color:#ffffff;
    padding-bottom: 20%;
}


#customers {
    background-color: rgba(168,168,168,0.3);
    padding-bottom: 15%;
}

#about {
    background-color: #ffffff;
    padding:15%;
}

#contact {
    background-color: rgb(0,0,0);
}

#callout {
    background-image: url('../images/baseball-cover2.jpg');
    width: 100%;
    height: auto;
    margin: 0px 0px;
    padding: 0 0;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;  
}


/* Images */
.contact img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
 }   
    
@media (min-width: 768px){   
    .contact img {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        border-style: solid;
        border-width: 1px;
        border-color: #ffffff;
    }
}

             
/* Buttons */
.btn-try {
    background-color: #FF3333;
    color: #ffffff;
    width: 120px;
}

.btn-login {
    background-color: #A8A8A8;
    color: #ffffff;
    width: 80px;
}


/* Icons */
#services1b i {
    font-size: 30px;
    line-height: 30px;
    color: #FF3333;
    border: none;
}

#services2 i {
    color: #FF3333;
    font-size: 20px;
}

.social-links a i {
    font-size: 40px; 
    line-height: 40px;
    color: rgb(0,0,0);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    padding-top: 10px;
    margin-left: 10px;
}

@media (min-width: 768px){ 
    .social-links a i {
        padding-left: 10rem;
    }
}

@media (min-width: 992px) {
    .social-links a i {
        padding-left: 0rem;
    }
}

.social-links a i:hover {
    background:  #FF3333;
}

.footer-text i {
    font-size: 6px;
    color: #ffffff;
}

/* Jumbotron */
.jumbotron {
    background: rgba(255,255,255,0.2);
    background-size: cover;
    margin-bottom: -5px;
   
}

#callout-text {
    padding: 20px 20px 20px 20px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: end;
    margin: -15px;
}

#callout-header1 {
    padding-top: 40vh;
    color: #FF3333;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px; 
    font-weight: 600;
    font-family: 'Exo', sans-serif;
}

#callout-header2 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20%;
    padding-right: 20%;
    font-weight: 700;
    color: black;
    font-family: 'Open Sans light', sans-serif;
    line-height: 1.5;
}


/* Inputs */
.custom-checkbox .custom-control-input:checked~.custom-control-label::after{
    background-color: #FF3333;
}


/* Navbar */
.navbar {
    background-color: #ffffff;
    margin-bottom: 0;
    width: 100%;
    border: 0;
    font-weight: 400;
}

.navbar-stick {
    display: flex;
    top: 0px;
    left: 0px; 
    position: sticky;
    z-index: 999999;
}

.navlogo img {
    width: 90px;
    height: 30px;
    margin-top: 0px;
    margin-left: 4px;
    margin-right: 10px;
}

@media (min-width: 768px){ 
    .navlogo img {
        height: 70px;
        width: 210px;
        margin-top: 0px;
        margin-left: 10px;
        margin-right: 40px;
    }
}

.navbar-nav .mr-auto {
    flex: 1;
    margin: auto  !important;
    display: flex;
    justify-content: space-between;
}

.navbar .navbar-togger {
    border: 0;
}

/* Services1 */
#services1b .card-title {
    border-bottom: 2px solid #FF3333;
    padding-bottom: 4px;
    height: 70px;
}

#services1b .card-header {
    text-align: center;
    padding-top: 15%;
}

#services1b .card {
    box-shadow: 10px 10px 8px #463B3B;
    border: none;
    color: #ffffff;
    background-color: rgb(0,0,0,0.70);
    min-width: 250px;
    max-width: 700px;
    padding-bottom: 10%;
    margin-left: 7px;
    margin-right: 7px;
}

#services1b .card-text {
    padding-top: 4px;
}

#services4b .card {
    box-shadow: 10px 10px 8px #FF3333;
    border: none;
    color: rgb(0,0,0);
    min-width: 250px;
    max-width: 700px;
    padding-bottom: 10%;
    margin-left: 7px;
    margin-right: 7px;
}

#services4b .card-text {
    padding-top: 4px;
}

#services4b .card-title {
    border-bottom: 2px solid #FF3333;
    padding-bottom: 4px;
    height: 70px;
}


/* Text Blocks */

/* Blockquote 
Code taken from Jamie at https://codepen.io/jimmycow/pen/LmjVaz*/
@media (min-width: 768px) {
    .blockquote {
        padding: 60px 80px 40px;
        position: relative;
    }
}

@media (min-width: 768px) {
    .blockquote p {
        font-family: "Utopia-italic";
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-top: 25px;
        padding-left: 50px;
    }
}

@media (min-width: 768px) {
    .blockquote:before {
    position: absolute;
    font-family: 'FontAwesome';
    top: 0;
    content:"\f10d";
    font-size: 200px;
    color: rgba(0,0,0,0.1);
    }
}

.cust-name p {
    text-align: left;
    font-size: 16px;
    color: rgb(0,0,0);
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0;
}

/* Form*/



/* Footer */

#footer-details {
    padding: 15%;
    background-color: #A8A8A8; 
}

.social-links {
    padding-bottom: 15px;
}



/* Images - Get Inspired */
#sample-image1-mobile {
    display: block;
    background-position: center top;
    padding-bottom: 5rem;
}

#sample-image1 {
    display: none;
}

@media only screen and (min-width: 992px){
    #sample-image1 {
        display: block;
        background-position: center top;
    }
    #sample-image1-mobile {
        display: none;
}

#sample-image2-mobile {
    display: block;
    background-position: center top;
    padding-bottom: 5rem;
}

#sample-image2 {
    display: none;
}

@media only screen and (min-width: 992px){
    #sample-image2 {
        display: block;
        background-position: center top;
    }
    #sample-image2-mobile {
        display: none;
    }
}
